
@{
    ViewBag.Title = "Country";
}

<div class="breadcrumb-wrapper">
    <h4 class="mainTitle no-margin" translate="">Master Countries</h4>
    @*<div ncy-breadcrumb class="pull-right"></div>*@
</div>
<div class="container-fluid container-fullw" ng-controller="CountrysCtrl">

   <div class="panel panel-white">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    <h3 class="over-title margin-bottom-15"> <span class="text-bold">List Of, Countries!</span></h3>
                </div>
                <div class="col-md-10">
                    <div class="col-md-7">
                        <span></span>
                    </div>
                    <div class="col-md-3 text-right">
                        <div class="checkbox clip-check check-primary ">
                            <input type="checkbox" id="ng-model=" ng-model="useDateRangePicker">
                            <label for="ng-model=" style="text-align: left;"> Use date range filter </label>
                        </div>
                    </div>
                    <div class="col-md-2 text-right">
                        <div class="btn-group" uib-dropdown is-open="status.isopen">
                            <button type="button" class="btn btn-wide btn-primary uib-dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#" ng-click="DropValueChange('Export CSV')">Export CSV</a>
                                </li>
                                <li>
                                    <a href="#" ng-click="DropValueChange('Import CSV')"> Import CSV </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <span></span>
                </div>
                <div class="col-md-10">
                    <div class="col-md-2">
                        <span></span>
                    </div>
                    <div class="col-md-3 text-right">
                        <input type="daterange" class="form-control" ng-model="dates2" ranges="ranges" ng-if="useDateRangePicker" />
                    </div>
                    <div class="col-md-3 text-right">
                        <input type="text" ng-model="Serachtext" placeholder="Search" id="form-field-7" class="form-control">
                    </div>
                    <div class="col-md-2 text-right">
                        <button class="btn btn-default btn-wide " type="button" ng-click="pagination.refereshGrid(1)">
                            Search
                        </button>
                    </div>
                    <div class="col-md-2 text-right">
                        <button class="btn btn-primary btn-wide " type="button" ng-click="CreateAddEdit()">
                            Add New
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 padding-horizontal-30">
                @*<div class="panel-scroll" style="position:relative;max-height:300px !important; overflow:hidden !important; padding-right:10 !important; " perfect-scrollbar wheel-propagation="false" suppress-scroll-x="true">*@
                    <div ui-grid="gridOptions"
                         ui-grid-auto-resize
                         @*ui-grid-move-columns*@
                         ui-grid-exporter
                         ui-grid-pagination
                         ui-grid-selection
                         @*ui-grid-pinning*@
                         class="grid" style="min-height:452px;max-height:452px; ">



                    </div>
                @*</div>*@
           <div role="contentinfo" class="ui-grid-pager-panel ng-scope" >
                    <div role="navigation" class="ui-grid-pager-container">
                        <div role="menubar" class="ui-grid-pager-control">
                            <!-- Start Page -->
                            <button type="button" role="menuitem" class="ui-grid-pager-first" ui-grid-one-bind-title="aria.pageToFirst"
                                    ui-grid-one-bind-aria-label="aria.pageToFirst"
                                    ng-click="pagination.firstPage()"
                                    ng-disabled="cantPageBackward()" title="Page to first" aria-label="Page to first"
                                    disabled="disabled">
                                <div class="first-triangle">
                                    <div class="first-bar"></div>
                                </div>
                            </button>

                            <!-- Prev Page -->
                            <button type="button" role="menuitem" class="ui-grid-pager-previous"
                                    ui-grid-one-bind-title="aria.pageBack" ui-grid-one-bind-aria-label="aria.pageBack"
                                    ng-click="pagination.previousPage()"
                                    ng-disabled="cantPageBackward()" title="Page back" aria-label="Page back" disabled="disabled">
                                <div class="first-triangle prev-triangle"></div>
                            </button>

                            <input type="number" ui-grid-one-bind-title="aria.pageSelected" ui-grid-one-bind-aria-label="aria.pageSelected"
                                   class="ui-grid-pager-control-input ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-min ng-valid-max ng-valid-required"
                                   ng-model="pagination.pageNumber"
                                   min="1" max="{{pagination.getTotalPages()}}" required="" title="Selected page"
                                   aria-label="Selected page" disabled>

                            <span class="ui-grid-pager-max-pages-number ng-binding"
                                  ng-show="pagination.getTotalPages() > 0">
                                <abbr ui-grid-one-bind-title="paginationOf" title="of"> /</abbr>{{pagination.getTotalPages()}}
                            </span>

                            <!-- Next Page -->
                            <button type="button" role="menuitem" class="ui-grid-pager-next" ui-grid-one-bind-title="aria.pageForward"
                                    ui-grid-one-bind-aria-label="aria.pageForward"
                                    ng-click="pagination.nextPage()"
                                    ng-disabled="cantPageForward()"
                                    title="Page forward" aria-label="Page forward">
                                <div class="last-triangle next-triangle"></div>
                            </button>

                            <!-- Last Page -->
                            <button type="button" role="menuitem" class="ui-grid-pager-last"
                                    ui-grid-one-bind-title="aria.pageToLast" ui-grid-one-bind-aria-label="aria.pageToLast"
                                    ng-click="pagination.lastPage()" ng-disabled="cantPageToLast()" title="Page to last" aria-label="Page to last">
                                <div class="last-triangle"><div class="last-bar"></div></div>
                            </button>
                        </div><!-- ngIf: grid.options.paginationPageSizes.length > 1 -->

                        <div class="ui-grid-pager-row-count-picker ng-scope">
                            <select ng-model="pagination.ddlpageSize"
                                    ng-options="o as o for o in pagination.paginationPageSizes" ng-change="pagination.pageSizeChange()"
                                    class="ng-pristine ng-untouched ng-valid ng-not-empty"></select>
                            <span class="ui-grid-pager-row-count-label ng-binding">&nbsp;records per page</span>
                        </div>
                        <!-- end ngIf: grid.options.paginationPageSizes.length > 1 -->
                        <!-- ngIf: grid.options.paginationPageSizes.length <= 1 -->
                    </div>
                    <div class="ui-grid-pager-count-container">
                        <div class="ui-grid-pager-count">
                            <span ng-show="pagination.totalItems > 0" class="ng-binding" style="">
                                {{pagination.pageNumber}}<abbr ui-grid-one-bind-title="paginationThrough" title="through"> / </abbr>{{pagination.ddlpageSize}} of {{pagination.totalItems}} total records
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end: RESPONSIVE TABLE -->


<div class="row">
    <div class="col-md-12">



        @*<p>{{SelectedRow}}</p>*@
    </div>
</div>

<style type="text/css">
</style>

@*@section AngularScript{
        <script src="~/ScriptsNg/Controllers/CountrysCtrl.js"></script>
        <script src="~/ScriptsNg/Service/CRUDService.js"></script>
    }*@
