<header class="navbar navbar-default" id="landing-header" role="navigation" style="background-color: #000 !important;">
    <div class="container">
        <div class="navbar-header">
            <a class="landing-menu-toggler btn btn-red hidden-sm hidden-md hidden-lg mobile-button" data-toggle="collapse" data-target="#landing-navbar" aria-expanded="false" aria-controls="navbar" id="landing-menu-toggler"> <span class="sr-only">Toggle navigation</span> <i class="fa fa-bars"></i> </a>
            <a href="/" class="navbar-brand">
                <img src="/Logos/Storemey (2).png" alt="Clip-Two" style="height: 50px;">
            </a>
        </div>
        <div class="navbar-collapse collapse" id="landing-navbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="/"> Home </a>
                </li>
                <li>
                    <a href="/features"> Features </a>
                </li>
                <li>
                    <a href="/testimonials"> Testimonials </a>
                </li>
                <li>
                    <a href="/hardware"> Hardware </a>
                </li>
                <li>
                    <a href="/prices"> Pricing </a>
                </li>
                <li>
                    <a href="/login"> Log in </a>
                </li>
                <li>
                    <a href="/signup"> Sign Up </a>
                </li>
            </ul>
            <!-- start: MENU TOGGLER FOR MOBILE DEVICES -->
            <div class="close-handle visible-xs-block menu-toggler">
                <div class="arrow-left"></div>
                <div class="arrow-right"></div>
            </div>
            <!-- end: MENU TOGGLER FOR MOBILE DEVICES -->
        </div>
    </div>
    <!-- end: TOP NAVIGATION CONTAINER -->
</header>