<div id="section-5">
    <section class="container-fluid container-fullw padding-bottom-30 section-contact" style="background-color:#FFFFFF;">
        <div class="container">
            @*<div class="row">
                <div class="col-md-12 text-center">
                    <a href="mailto:Support@Storemey.com" class="btn btn-storemey-black margin-top-30">
                        Subscribe to Our Newsletter
                    </a>
                </div>
            </div>*@
            <hr />  <p class="margin-top-20" style="text-align: center !important;">
                Storemey @DateTime.UtcNow.Year.ToString()
            </p>
            <hr />
                <div class="row">
                    <div class="col-md-12 text-center">
            <p class="margin-top-20" style="text-align: center !important;">
                <a ng-click="asyncContent();" style="text-decoration:underline;font-weight:bold;">Privacy policy</a> and <a ng-click="asyncContent1();" style="text-decoration:underline;font-weight:bold;">Terms & conditions</a>
            </p>
            </div>
            </div>
        </div>
    </section>
</div>