
@{
    string EmailPattern = @"[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$";

}


<div class="breadcrumb-wrapper">
    <h4 class="mainTitle no-margin">Categoriers</h4>
</div>
<!-- end: BREADCRUMB -->
<!-- start: BASIC EXAMPLE -->
<div class="container-fluid container-fullw" ng-controller="app.views.storeCategories">
    <div class="row">
        <div class="col-md-12">
            <fieldset>
                <legend>
                    Add/Update Of, Categories!
                </legend>
                <div class="panel panel-white">
                    <div class="panel-body">

                        <div class="row">
                            <form role="form" id="frmCountry" name="myForm" ng-submit="register(frmCountry)" ng-validate="validationOptions">
                                <div>
                                    <div class="panel panel-white" style="background-color: #fbecb5;">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    <div class="cropBox croppedBox">
                                                                        <div>
                                                                            <img ng-src="{{GetstoreCategoriesOutputDto.image}}" ng-click="openCropcate()" style="width:100%;height:100%;" />
                                                                        </div>

                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <span class="btn btn-primary btn-file">
                                                                        Select an image file
                                                                        <input type="file" id="fileInput" size="5" accept="image/*">
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                        </table>

                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">
                                                            Category Name
                                                        </label>
                                                        <input type="text" class="form-control" ng-model="GetstoreCategoriesOutputDto.categoryName" name="categoryName" placeholder="enter category name">
                                                    </div>


                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">
                                                            Description
                                                        </label>
                                                        <input type="text" class="form-control" ng-model="GetstoreCategoriesOutputDto.description" name="description" placeholder="enter description">
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="exampleInputPassword1">
                                                            Note
                                                        </label>
                                                        <textarea type="text" class="form-control" ng-model="GetstoreCategoriesOutputDto.note" placeholder="enter note" name="note"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <button class="btn btn-primary btn-wide" type="submit" ng-disabled="myForm.$invalid" ng-click="saveAddEdit(this)">
                                                Save
                                            </button>

                                            <button class="btn btn-default btn-wide" type="button" ng-click="cancelAddEdit()">
                                                Back
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
