
@{
    string EmailPattern = @"[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$";

}


<div class="breadcrumb-wrapper">
    <h4 class="mainTitle no-margin">States</h4>
</div>
<!-- end: BREADCRUMB -->
<!-- start: BASIC EXAMPLE -->
<div class="container-fluid container-fullw" ng-controller="app.views.storeStateMaster">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body">
                    <h3 class="over-title margin-bottom-15">Add/Update Of, State!</h3>
                    @*<p>
                            Individual form controls automatically receive some global styling.
                        </p>*@
                    <div class="row margin-top-30">
                        <form role="form" id="frmCountry" name="myForm" ng-submit="register(myForm)" ng-validate="validationOptions">
                            <div class="col-lg-12 col-md-12">
                                <div class="panel panel-white" style="background-color: #fff;">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">
                                                        Country Name
                                                    </label>
                                                    <ui-select ng-model="GetstoreStateMasterOutputDto.uicountryId" name="country" theme="select2" ng-disabled="" style="min-width: 100%;" title="Choose a person">
                                                        <ui-select-match placeholder="Select a country">{{$select.selected.countryName}}</ui-select-match>
                                                        <ui-select-choices repeat="person in Countries | propsFilter: {countryName: $select.search}">
                                                            <div ng-bind-html="person.countryName | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    @*<input type="text" class="form-control" ng-model="GetstoreStateMasterOutputDto.stateName" name="stateName" placeholder="enter state name">*@
                                                </div>

                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">
                                                        State Name
                                                    </label>
                                                    <input type="text" class="form-control" ng-model="GetstoreStateMasterOutputDto.stateName" name="stateName" placeholder="enter state name">
                                                </div>

                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">
                                                        Note
                                                    </label>
                                                    <textarea type="text" class="form-control" ng-model="GetstoreStateMasterOutputDto.note" placeholder="enter note" name="note"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                        <button class="btn btn-primary btn-wide" type="submit" ng-disabled="myForm.$invalid" ng-click="saveAddEdit(this)">
                                            Save
                                        </button>

                                        <button class="btn btn-default btn-wide" type="button" ng-click="cancelAddEdit()">
                                            Back
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
