
<div class="breadcrumb-wrapper">
    <h4 class="mainTitle no-margin">Outlets</h4>
    @*<div ncy-breadcrumb class="pull-right"></div>*@
</div>
<!-- end: BREADCRUMB -->
<!-- start: BASIC EXAMPLE -->
<div class="container-fluid container-fullw" ng-controller="app.views.storeOutlets">
    <div class="row">
        <div class="col-md-12">
            <fieldset>
                <legend>
                    Add/Update Of, Outlet!
                </legend>

                <div class="panel panel-white">
                    <div class="panel-body">
                        <div class="row ">
                            <div>
                                <div class="panel panel-white" style="background-color: #fbecb5;">
                                    @*<div class="panel-heading">
                                    <h5 class="panel-title">Default Form</h5>
                                </div>*@
                                    <div class="panel-body">
                                        @*<p class="text-small margin-bottom-20">
                                        All textual <code> &lt;input&gt; </code>
                                        , <code> &lt;textarea&gt; </code>
                                        , and <code> &lt;select&gt; </code>
                                        elements with <code> .form-control </code>
                                        are set to <code> width: 100%; </code>
                                        by default. Wrap labels and controls in <code> .form-group </code>
                                        for optimum spacing.
                                    </p>*@
                                        <form role="form" id="frmCountry" name="myForm">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">
                                                    Outlet name
                                                </label>
                                                <input type="text" class="form-control" ng-model="GetstoreOutletsOutputDto.outletName" id="exampleInputEmail1" placeholder="enter outlet name" required>
                                            </div>

                                            <div class="form-group">
                                                <label>
                                                    Warehouse name
                                                </label>
                                                <ui-select ng-model="GetstoreOutletsOutputDto.uiwarehouseId" theme="select2" ng-disabled="" style="min-width: 100%;" title="Choose a warehouse">
                                                    <ui-select-match placeholder="Select a warehouse">{{$select.selected.warehouseName}}</ui-select-match>
                                                    <ui-select-choices repeat="person in Warehouse | propsFilter: {warehouseName: $select.search}">
                                                        <div ng-bind-html="person.warehouseName | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                                <input type="text" ng-model="GetstoreOutletsOutputDto.uiwarehouseId" style="visibility:hidden;height:0px;padding: 0 !important;" name="country" class="form-control" placeholder="Enter your Country">
                                            </div>


                                            <div class="form-group">
                                                <label for="exampleInputEmail1">
                                                    Order number prefix
                                                </label>
                                                <input type="text" class="form-control" ng-model="GetstoreOutletsOutputDto.orderNumberPrefix" id="exampleInputEmail1" placeholder="enter order number prefix" required>
                                            </div>

                                            <div class="form-group">
                                                <label for="exampleInputEmail1">
                                                    Order number
                                                </label>
                                                <input type="text" class="form-control" ng-model="GetstoreOutletsOutputDto.orderNumber" id="exampleInputEmail1" placeholder="enter order number" required>
                                            </div>

                                            <div class="form-group">
                                                <div class="checkbox clip-check check-primary">
                                                    <input type="checkbox" id="checkbox1" value="1" ng-model="GetstoreOutletsOutputDto.isEnableNagativeInventory">
                                                    <label for="checkbox1">
                                                        Enable nagative inventory
                                                    </label>
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label for="exampleInputEmail1">
                                                    Supplier number prefix
                                                </label>
                                                <input type="text" class="form-control" ng-model="GetstoreOutletsOutputDto.supplierReturnPrefix" id="exampleInputEmail1" placeholder="enter supplier return number prefix" required>
                                            </div>

                                            <div class="form-group">
                                                <label for="exampleInputEmail1">
                                                    Supplier return number
                                                </label>
                                                <input type="text" class="form-control" ng-model="GetstoreOutletsOutputDto.supplierReturnNumber" id="exampleInputEmail1" placeholder="enter supplier return number" required>
                                            </div>


                                            <div class="form-group">
                                                <label for="exampleInputPassword1">
                                                    Street
                                                </label>
                                                <textarea type="text" class="form-control" ng-model="GetstoreOutletsOutputDto.street" placeholder="enter street" name="street"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">
                                                    Street1
                                                </label>
                                                <textarea type="text" class="form-control" ng-model="GetstoreOutletsOutputDto.street1" placeholder="enter street1" name="street1"></textarea>
                                            </div>

                                            <div class="form-group">
                                                <label>
                                                    Country
                                                </label>
                                                <ui-select ng-model="GetstoreOutletsOutputDto.uicountryId" name="country" theme="select2" ng-disabled="" style="min-width: 100%;" title="Choose a person">
                                                    <ui-select-match placeholder="Select a country">{{$select.selected.countryName}}</ui-select-match>
                                                    <ui-select-choices repeat="person in Countries | propsFilter: {countryName: $select.search}">
                                                        <div ng-bind-html="person.countryName | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                                <input type="text" ng-model="GetstoreOutletsOutputDto.uicountryId" style="visibility:hidden;height:0px;padding: 0 !important;" name="country" class="form-control" placeholder="Enter your Country">
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label">
                                                    State
                                                </label>

                                                <ui-select ng-model="GetstoreOutletsOutputDto.uistateId" theme="select2" ng-disabled="" style="min-width: 100%;" title="Choose a person">
                                                    <ui-select-match placeholder="Select a state">{{$select.selected.stateName}}</ui-select-match>
                                                    <ui-select-choices repeat="person in States | propsFilter: {stateName: $select.search}">
                                                        <div ng-bind-html="person.stateName | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                                <input type="text" ng-model="GetstoreOutletsOutputDto.uistateId" style="visibility:hidden;height:0px;padding: 0 !important;" name="state" class="form-control" placeholder="Enter your state">
                                            </div>

                                            <div class="form-group">
                                                <label>
                                                    City
                                                </label>
                                                <ui-select ng-model="GetstoreOutletsOutputDto.uicityId" theme="select2" ng-disabled="" style="min-width: 100%;" title="Choose a person">
                                                    <ui-select-match placeholder="Select a City">{{$select.selected.cityName}}</ui-select-match>
                                                    <ui-select-choices repeat="person in Cities | propsFilter: {cityName: $select.search}">
                                                        <div ng-bind-html="person.cityName | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                                <input type="text" ng-model="GetstoreOutletsOutputDto.uicityId" style="visibility:hidden;height:0px;padding: 0 !important;" name="city" class="form-control" placeholder="Enter your City">
                                            </div>

                                            <div class="form-group">
                                                <label for="exampleInputEmail1">
                                                    Zipcode
                                                </label>
                                                <input type="text" class="form-control" ng-model="GetstoreOutletsOutputDto.zipCode" id="exampleInputEmail1" placeholder="enter zipcode" required>
                                            </div>


                                            <div class="form-group">
                                                <label class="control-label">
                                                    TimeZone
                                                </label>
                                                <ui-select ng-model="GetstoreOutletsOutputDto.uitimeZoneId" theme="select2" ng-disabled="" style="min-width: 100%;" title="Choose a person">
                                                    <ui-select-match placeholder="Select a timeZone">{{$select.selected.name}}</ui-select-match>
                                                    <ui-select-choices repeat="person in TimeZones | propsFilter: {name: $select.search}">
                                                        <div ng-bind-html="person.name | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                                <input type="text" ng-model="GetstoreOutletsOutputDto.uitimeZoneId" style="visibility:hidden;height:0px;padding: 0 !important;" name="timeZone" class="form-control" placeholder="Enter your TimeZone">

                                            </div>


                                            @*<div class="form-group">
                                            <label for="exampleInputEmail1">
                                                Zipcode
                                            </label>
                                            <input type="text" class="form-control" ng-model="GetstoreOutletsOutputDto.zipCode" id="exampleInputEmail1" placeholder="enter zipcode" required>
                                        </div>*@


                                            <div class="form-group">
                                                <label for="exampleInputEmail1">
                                                    Email
                                                </label>
                                                <input type="text" class="form-control" ng-model="GetstoreOutletsOutputDto.email" id="exampleInputEmail1" placeholder="enter email" required>
                                            </div>



                                            <div class="form-group">
                                                <label for="exampleInputEmail1">
                                                    Contact number
                                                </label>
                                                <input type="text" class="form-control" ng-model="GetstoreOutletsOutputDto.contactNumber" id="exampleInputEmail1" placeholder="enter contact number" required>
                                            </div>

                                            <div class="form-group">
                                                <label for="exampleInputEmail1">
                                                    Mobile number
                                                </label>
                                                <input type="text" class="form-control" ng-model="GetstoreOutletsOutputDto.mobileNumber" id="exampleInputEmail1" placeholder="enter mobile number" required>
                                            </div>


                                            <div class="form-group">
                                                <label for="exampleInputPassword1">
                                                    Note
                                                </label>
                                                <textarea type="text" class="form-control" ng-model="GetstoreTaxOutputDto.note" placeholder="enter note" name="note"></textarea>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="panel-footer">
                                        <button class="btn btn-primary btn-wide" type="submit" ng-disabled="myForm.$invalid" ng-click="saveAddEdit(this)">
                                            Save
                                        </button>

                                        <button class="btn btn-default btn-wide" type="button" ng-click="cancelAddEdit()">
                                            Back
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
      </fieldset>  </div>
    </div>
</div>