<!-- start: SEARCH FORM -->
<div class="search-form hidden-md hidden-lg">
    <form class="navbar-form" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="{{ 'search.PLACEHOLDER' | translate }}">
            <button class="btn search-button" type="submit">
                <i class="ti-search"></i>
            </button>
        </div>
    </form>
</div>

<nav data-ng-include=" '/App/Main/Admin/adminpartials/adminnav.cshtml' " ng-controller="app.views.layout.sidebarNav1 as vm"></nav>
<!-- end: SIDEBAR -->
