
@{
    string EmailPattern = @"[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$";

}


<div class="breadcrumb-wrapper">
    <h4 class="mainTitle no-margin">Brands</h4>
</div>
<!-- end: BREADCRUMB -->
<!-- start: BASIC EXAMPLE -->
<div class="container-fluid container-fullw" ng-controller="app.views.storeBrands">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body">
                    <h3 class="over-title margin-bottom-15">Add/Update Of, Brand!</h3>
                    @*<p>
                            Individual form controls automatically receive some global styling.
                        </p>*@
                    <div class="row margin-top-30">
                        <form role="form" id="frmCountry" name="myForm" ng-submit="register(myForm)" ng-validate="validationOptions">
                            <div class="col-lg-12 col-md-12">
                                <div class="panel panel-white" style="background-color: #fff;">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-6">

                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">
                                                        Brand Name
                                                    </label>
                                                    <input type="text" class="form-control" ng-model="GetstoreBrandsOutputDto.brandName" name="brandName" placeholder="enter brand name">
                                                </div>


                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">
                                                        Description
                                                    </label>
                                                    <input type="text" class="form-control" ng-model="GetstoreBrandsOutputDto.description" name="description" placeholder="enter description">
                                                </div>


                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">
                                                        Note
                                                    </label>
                                                    <textarea type="text" class="form-control" ng-model="GetstoreBrandsOutputDto.note" placeholder="enter note" name="note"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                        <button class="btn btn-primary btn-wide" type="submit" ng-disabled="myForm.$invalid" ng-click="saveAddEdit(this)">
                                            Save
                                        </button>

                                        <button class="btn btn-default btn-wide" type="button" ng-click="cancelAddEdit()">
                                            Back
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
