<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Abp" version="3.8.1" targetFramework="net461" />
  <package id="Abp.EntityFramework" version="3.8.1" targetFramework="net461" />
  <package id="Abp.EntityFramework.Common" version="3.8.1" targetFramework="net461" />
  <package id="Abp.Zero" version="3.8.1" targetFramework="net461" />
  <package id="Abp.Zero.Common" version="3.8.1" targetFramework="net461" />
  <package id="Abp.Zero.EntityFramework" version="3.8.1" targetFramework="net461" />
  <package id="Castle.Core" version="4.3.1" targetFramework="net461" />
  <package id="Castle.LoggingFacility" version="4.1.0" targetFramework="net461" />
  <package id="Castle.Windsor" version="4.1.0" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="EntityFramework.DynamicFilters" version="3.0.1" targetFramework="net461" />
  <package id="EnvDTE" version="8.0.1" targetFramework="net461" />
  <package id="EnvDTE80" version="8.0.1" targetFramework="net461" />
  <package id="JetBrains.Annotations" version="11.1.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.2" targetFramework="net461" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net461" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net461" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net461" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="2.1.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.Caching.Memory" version="2.1.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="2.1.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="2.1.1" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6070" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="7.10.6071" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop.10.0" version="10.0.30319" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop.11.0" version="11.0.61030" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop.12.0" version="12.0.30110" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop.8.0" version="8.0.50727" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="7.10.6070" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.8.0" version="8.0.50727" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="Nito.AsyncEx" version="4.0.1" targetFramework="net461" />
  <package id="Nito.AsyncEx.Context" version="1.1.0" targetFramework="net461" />
  <package id="Nito.AsyncEx.Coordination" version="1.0.2" targetFramework="net461" />
  <package id="Nito.AsyncEx.Tasks" version="1.1.0" targetFramework="net461" />
  <package id="Nito.Collections.Deque" version="1.0.4" targetFramework="net461" />
  <package id="Nito.Disposables" version="1.2.3" targetFramework="net461" />
  <package id="NuGet.VisualStudio" version="4.9.1" targetFramework="net461" />
  <package id="stdole" version="7.0.3301" targetFramework="net461" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net461" />
  <package id="System.Configuration.ConfigurationManager" version="4.5.0" targetFramework="net461" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net461" />
  <package id="System.Linq.Dynamic.Core" version="1.0.8.11" targetFramework="net461" />
  <package id="System.Linq.Queryable" version="4.3.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.1" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.Serialization.Formatters" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net461" />
  <package id="System.Security.Claims" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net461" />
  <package id="System.Threading" version="4.3.0" targetFramework="net461" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="net461" />
  <package id="System.Xml.XPath" version="4.3.0" targetFramework="net461" />
  <package id="System.Xml.XPath.XmlDocument" version="4.3.0" targetFramework="net461" />
  <package id="TimeZoneConverter" version="2.4.1" targetFramework="net461" />
  <package id="VSSDK.DTE" version="7.0.4" targetFramework="net461" />
  <package id="VSSDK.IDE" version="7.0.4" targetFramework="net461" />
  <package id="VSSDK.IDE.12" version="12.0.4" targetFramework="net461" />
  <package id="VSSDK.TemplateWizardInterface" version="12.0.4" targetFramework="net461" />
</packages>