

<div ng-controller="Products_controller as vm" style="padding-top:120px;">
    <div ui-grid="gridOptions" 
         ui-grid-pagination 
         class="grid"
         ui-grid-auto-resize
         ui-grid-resize-columns
         ui-grid-move-columns
         ui-grid-exporter
         ui-grid-selection
         ui-grid-pining></div>
    {{$scope.gridOptions }}
</div>

