
<div class="breadcrumb-wrapper">
    <h4 class="mainTitle no-margin">Currencies</h4>
    @*<div ncy-breadcrumb class="pull-right"></div>*@
</div>
<!-- end: BREADCRUMB -->
<!-- start: BASIC EXAMPLE -->
<div class="container-fluid container-fullw" ng-controller="app.views.storecurrencies">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body">
                    <h5 class="over-title margin-bottom-15">Add/Update Of, Currancy!</h5>
                    @*<p>
                            Individual form controls automatically receive some global styling.
                        </p>*@
                    <div class="row margin-top-30">
                        <div class="col-lg-6 col-md-12">
                            <div class="panel panel-white" style="background-color: #fff;">
                                @*<div class="panel-heading">
                                        <h5 class="panel-title">Default Form</h5>
                                    </div>*@
                                <div class="panel-body">
                                    @*<p class="text-small margin-bottom-20">
                                            All textual <code> &lt;input&gt; </code>
                                            , <code> &lt;textarea&gt; </code>
                                            , and <code> &lt;select&gt; </code>
                                            elements with <code> .form-control </code>
                                            are set to <code> width: 100%; </code>
                                            by default. Wrap labels and controls in <code> .form-group </code>
                                            for optimum spacing.
                                        </p>*@
                                    <form role="form" id="frmCountry" name="myForm">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">
                                                currency
                                            </label>
                                            <input type="text" class="form-control" ng-model="GetstorecurrenciesOutputDto.currency" id="exampleInputEmail1" placeholder="enter name" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">
                                                symbol
                                            </label>
                                            <input type="text" class="form-control" ng-model="GetstorecurrenciesOutputDto.symbol" id="exampleInputPassword1" placeholder="enter code" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">
                                                name
                                            </label>
                                            <input type="text" class="form-control" ng-model="GetstorecurrenciesOutputDto.name" id="exampleInputEmail1" placeholder="enter daily code" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">
                                                country
                                            </label>
                                            <input type="text" class="form-control" ng-model="GetstorecurrenciesOutputDto.country" id="exampleInputPassword1" placeholder="enter currency name" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">
                                                Digital code
                                            </label>
                                            <input type="text" class="form-control" ng-model="GetstorecurrenciesOutputDto.digital_code" id="exampleInputPassword1" placeholder="enter digital code" required>
                                        </div>
                                    </form>
                                </div>
                                <div class="panel-footer">
                                    <button class="btn btn-primary btn-wide" type="submit" ng-disabled="myForm.$invalid" ng-click="saveAddEdit(this)">
                                        Save
                                    </button>

                                    <button class="btn btn-default btn-wide" type="button" ng-click="cancelAddEdit()">
                                        Back
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</div>